.action-bar {
    height: 75%;
    width: 90%;
    background-color: rgb(246, 243, 248);
    margin: auto;
    margin-top: 10px;
    border: solid darkgray 3px;
    border-radius: 10px;
    /* display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column; */
}

.action-bar .row {
    width: 100%;
    height: 20%;
}

.row button {
    text-align: center;
    border: 2px solid rgb(189, 163, 163);
    width: 25%;
    height: 100%;
    font-size: 25px;
    font-weight: 600;
    /* cursor: pointer; */
}

.row .zero-btn {
    width: 50%;
}

.operators {
    background-color: orange;
}

.row button:hover {
    background-color: gray;
}


/* .action-btn-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
} */