.action-bar {
    height: 80%;
    width: 90%;
    background-color: rgb(246, 243, 248);
    margin: auto;
    margin-top: 20px;
    border: solid darkgray 3px;
    border-radius: 10px;
    /* display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column; */
}

.action-btn-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.action-btn-table td {
    text-align: center;
    border: 3px solid rgb(189, 163, 163);
    width: 50px;
    height: 20%;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}

.operators-btn {
    background-color: orange;
}