.display {
    height: 18%;
    width: 90%;
    margin: auto;
    border: solid darkSgray 3px;
    border-radius: 10px;
    background-color: aliceblue;
    position: relative;
}

.display-items {
    font-size: 25px;
    font-weight: 700;
    line-height: 40px;
    margin: 0;
}

#query {
    color: blue;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    direction: rtl;
    overflow-x: scroll;
    overflow-y: hidden;
}

#result {
    color: green;
    position: absolute;
    bottom: 0;
    right: 0;
}


/* Hide scrollbar for IE and Edge Firefox*/

#query {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


/* Hide scrollbar for Chrome, Safari and Opera */

#query::-webkit-scrollbar {
    display: none;
}